<!DOCTYPE html>
<html>
<head>
  <title>Journey packagetest admin</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag 'admin' %>
</head>
<body>
This is the admin layout
<%= yield %>

</body>
</html>
