<!DOCTYPE html>
<html>
<head>
  <title>Journey packagetest core</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "journey_packagetest_core/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
