<!DOCTYPE html>
<html>
<head>
  <title>Journey packagetest core</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag 'core' %>
</head>
<body>

<%= yield %>

</body>
</html>
